@font-face {
  font-family:'Circe-Regular' , sans-serif;
  font-weight: 400;
  font-style: normal;
  
  src: local('Circe-Regular'),
       url('../fonts/Circe-Regular.woff2') format('woff2'),       
       url('../fonts/Circe-Regular.woff') format('woff');       

  font-display: swap; 
}

@font-face {
  font-family: 'Manrope-Regular', sans-serif;
  font-weight: 400;
  font-style: normal;

  src: local('Manrope-Regular'),
    url('../fonts/Orienta-Regular.woff2') format('woff2'),
    url('../fonts/Manrope-Regular.woff') format('woff');

  font-display: swap;
}

@font-face {
  font-family: 'Circe-Bold', cursive;
  font-weight: 700;
  font-style: normal;

  src: local('Circe-Bold'),
    url('../fonts/Circe-Bold.woff2') format('woff2'),
    url('../fonts/Circe-Bold.woff') format('woff');

  font-display: swap;
}
@font-face {
  font-family: 'Manrope-ExtraBold', cursive;
  font-weight: 800;
  font-style: normal;

  src: local('Manrope-ExtraBold'),
    url('../fonts/Manrope-ExtraBold.woff2') format('woff2'),
    url('../fonts/Manrope-ExtraBold.woff') format('woff');

  font-display: swap;
}

