body {
  min-height: 100%;
  width: 1440px;
  margin: 0 auto;
  padding-top: 10px;
  background-image: url('../images/bg.png');
  background-size: 100% 100%;
  color: $default;
  @extend %circe-400;

  a:hover {
    color: $hover;
    transition: all 0.3s;

  }


}

.container {
  max-width: 1230px;
  margin: 0 auto;

}
.container--page {
  max-width: 1230px;
  margin: 0 auto;
  background-color: #fff;

}

.section__title {
  font-size: 32px;
  line-height: 42px;
  color: #dbdbdb;
  @extend %manrope-400;
}
.all{
  font-size: 14px;
    line-height: 20px;
    color: #dbdbdb;
}