html {
  box-sizing: border-box;
  font-size: calc(100vw / 1440 *10);


  @media (max-width :500px) {
    font-size: calc(100vw / 500 *10);
    
  }
}


body {
  min-height: 100%;
  width: 144rem;
  margin: 0 auto;
  padding-top: 1rem;
  background-image: url('../images/bg.png');
  background-size: cover;
  // background-position: center;
  background-repeat: no-repeat;
  color: $default;
  @extend %circe-400;


  a {
    color: $default;
  }

  a:hover {
    color: $hover;
    transition: all 0.3s;

  }


}
.container{
  max-width: 120rem;
  margin: 0 auto;
  @media (max-width :500px) {
      .container {
        max-width: 45rem;
        margin: 0 auto;
      }
}
}



// .container--page {
//   max-width: 123rem;
//   margin: 0 auto;
//   background-color: #fff;

// }

.section__title {
  font-size: 3.2rem;
  line-height: 4.2rem;
  color: $default;
  @extend %manrope-400;
}

.all {
  font-size: 1.4rem;
  line-height: 2rem;
  color: $default;
}