 @media (max-width :500px) {
   body {
     width: 100%;
     margin: 0 auto;
     padding: 1.5rem;
     overflow-x: hidden;
   }

   .container {

     max-width: 45rem;
     margin: 0 auto;
     overflow-x: hidden;
   }


   .header {

     &__right {
       display: none;
     }

     &__top {
       display: inherit;
     }

     &__left {
       display: flex;
       justify-content: space-between;
       align-items: center;
     }



     &__burger {
       display: block;
       position: relative;
       height: 4rem;
       width: 5rem;

       span {
         content: '';
         position: absolute;
         background-color: $default;
         width: 100%;
         height: 0.2rem;
         right: 0;
         top: 2.2rem;
       }
     }

     &__burger.active span {
       transform: scale(0);
       transition: all .3s ease 0s;
     }

     &__burger.active {
       height: 3rem;
     }

     &__burger::after,
     &__burger::before {
       content: '';
       position: absolute;
       background-color: $default;
       width: 100%;
       height: 0.2rem;
       right: 0;
       transition: all .3s ease 0s;
     }

     &__burger::before {
       top: 1.1rem;
     }

     &__burger.active::before {
       transform: rotate(45deg);
       bottom: 1rem;
       transition: all .3s ease 0s;
     }

     &__burger::after {
       bottom: 0.5rem;
     }

     &__burger.active::after {
       transform: rotate(-45deg);
       top: 1rem;
       transition: all .3s ease 0s;
     }

     &__menu-inner {
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
       display: none;

     }

     &__list {
       margin-bottom: 3rem;
       text-align: center;
     }

     &__list-link {
       font-size: 3rem;
       line-height: 3rem;
       padding-bottom: 3rem;
     }

     &__list--bg {
       background-color: $hover;
       border-radius: 2.4rem;
       padding: 3.2rem 2rem;

     }

   }

   .title {
     padding-top: 1rem;
     margin-bottom: 10rem;

   }

   .horib {

     &__title {
       font-size: 3rem;
       line-height: 4rem;
     }

     &__subtitle {
       font-size: 2rem;
       line-height: 3rem;
     }

   }

   .business {
    &__title{
        font-size: 5rem;
          line-height: 4rem;
    }
     &__filter {
       display: none;
     }

     &__subtitle {
       font-size: 2.4rem;
       line-height: 2rem;
       text-align: center;
     }

     .section__title {
       font-size: 3rem;
       line-height: 4rem;
       text-align: center;
       font-family: 'Manrope-ExtraBold', sans-serif;
       font-weight: 800;
       padding-bottom: 0;
     }

     &__finance,
     &__personal {
       display: flex;
       flex-wrap: wrap;
     }

     &__items-list {
       display: flex;
       flex-direction: column;
       align-items: center;
     }

     &__items-more {
       display: block;

       img {
         display: block;
       }
     }

     &__items-more--two {
       display: none;

       img {
         display: block;
       }
     }

     &__items-top,
     &__items-more {
       display: block;
     }

     &__items-more--one,
     &__items-more--two {
       display: none;
     }

     &__item-text {
       font-size: 2.2rem;
       line-height: 2.6rem;
     }


     &__item {
       width: 45rem;
       margin-bottom: 2rem;
       text-align: center;

       img {
         margin: 0 auto;
       }
     }

     &__img-one,
     &__img-two {
       position: inherit;
       transition: all 0.3s linear;
       display: block;
     }

     &__img-one.transform,
     &__img-two.transform {
       transform: rotate(90deg);
     }
     &__page-pluses__inner{
      display: flex;
      flex-wrap: wrap;
      margin-top: 5rem;
     }
     &__page-pluses__text{
      font-size: 1.5rem;
     }
   }

   .person {
     margin-top: 10rem;

     .section__title {
       font-size: 3rem;
       line-height: 4rem;
       text-align: center;
       font-family: 'Manrope-ExtraBold', sans-serif;
       font-weight: 800;
       padding-bottom: 0;

     }

     &__items {
       display: flex;
       flex-wrap: wrap;
     }

     &__item {
       max-width: none;
       max-height: none;
       text-align: center;

       img {
         margin: 0 auto;
       }

       img {
         max-width: 50%;
       }



     }

     &__item-title {
       font-size: 2.2rem;
       line-height: 3rem;
     }

     &__subtitle {
       font-size: 2.2rem;
       line-height: 2rem;
       width: auto;

     }


   }

   .about {
     padding-top: 10rem;

     .section__title {
       font-size: 3rem;
       line-height: 4rem;
       text-align: center;
       padding-bottom: 0;
       font-family: 'Manrope-ExtraBold', sans-serif;
       font-weight: 800;
     }

     &__left-text {
       padding: 0.8rem 1.6rem;
       gap: 0.4rem;
       border-radius: 2.4rem;
       border: 0.1rem solid #e86630;
       font-size: 2.2rem;
       line-height: 2.6rem;
       color: #e86630;
       margin-left: 2rem;

     }

     &__left-center {
       width: auto;
       margin-right: 0;
     }

     &__left-txt {
       font-size: 2rem;
       line-height: 3rem;
       padding-bottom: 2.5rem;
     }


     &__left-link {
       padding: 1.4rem 2rem;
       gap: 0.4rem;
       background-color: #452c60;
       border-radius: 2.4rem;
       color: #fff;
       margin-top: 1.5rem;
       font-size: 2rem;
       line-height: 2rem;
     }

     &__right-files {
       display: none;
     }



     &__page {
       display: flex;
       flex-wrap: wrap;
       padding-bottom: 5rem;

     }
   }

   .partners {
     padding-top: 10rem;
     background-color: transparent;

     .section__title {
       font-size: 3rem;
       line-height: 4rem;
       text-align: center;
       font-family: 'Manrope-ExtraBold', sans-serif;
       font-weight: 800;
       padding-bottom: 0;

     }

     &__toggle {
       display: block;
       color: #452c60;
       margin-top: 1rem;
       font-size: 1.5rem;
       line-height: 2rem;
       border: none;
       background-color: transparent;
     }

     &__group {
       height: 9rem;

       margin-top: 6rem;

       img {
         margin: 0 auto;
       }


       position: relative;
       overflow: hidden;
     }

     &__group.hide {
       height: initial;

       img {
         margin: 0 auto;
       }


       position: relative;
       overflow: hidden;


     }

     &__group.hide::after {
       content: "";
       display: block;
       height: 10rem;
       position: absolute;
       left: 0;
       right: 0;
       bottom: 0;
       background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0));

     }
   }

   .clients {
     padding-top: 10rem;
     margin-bottom: 0;

     .section__title {
       font-size: 3rem;
       line-height: 4rem;
       text-align: center;
       line-height: 6rem;
       font-family: 'Manrope-ExtraBold', sans-serif;
       font-weight: 800;
       padding-bottom: 0;
     }

     &__feedback {
       display: flex;
       flex-direction: column;
     }

     &__inner {
       margin-bottom: 3rem;
       width: 45rem;
     }

     &__inner-title {
       font-size: 3rem;
       line-height: 3rem;
     }

     &__inner-text {
       line-height: 2rem;
       font-size: 2rem;
     }



   }

   .popular {
     padding: 5rem 0;

     .section__title {
       font-size: 3rem;
       line-height: 4rem;
       text-align: center;
       line-height: 6rem;
       font-family: 'Manrope-ExtraBold', sans-serif;
       font-weight: 800;
       margin-bottom: 3rem;
     }

     &__links-title {
       font-size: 3rem;
     }

     &__links {
       display: flex;
       flex-direction: column;
     }

     &__link {
       font-size: 2rem;
       margin-bottom: 1rem;
       line-height: 2rem;
     }

     &__links-contact {
       margin-top: 10rem;
     }
   }

   .footer {
     padding: 2rem;

     &__section {
       display: flex;
       flex-wrap: wrap;
     }

     &__left-item-link {
       font-size: 1rem;
       line-height: 1rem;
     }

     &__left-item {
       padding-bottom: 1rem;
       width: 40rem;
     }

     &__right {
       padding-left: 0;
     }

   }

   .about-us {
     &__title {
       font-size: 4rem;
       line-height: 4rem;
       padding-top: 5rem;
     }

     &__text {
       width: auto;
       text-align: center;
       margin: 0 auto;
       margin-bottom: 5rem;
     }

     &__inner {
       display: flex;
       flex-wrap: wrap;

     }

     &__link {
       width: 45rem;
       text-align: center;

       img {
         margin: 0 auto;
       }

       margin-bottom: 3rem;
     }

     &__link-title {
       font-size: 2.2rem;
     }

     &__link-text {
       font-size: 2rem;
       line-height: 2.5rem;
     }

     &__history {
       padding-top: 10rem;
     }

     &__history-title {
       font-size: 3rem;
       line-height: 4rem;
       text-align: center;
       font-family: 'Manrope-ExtraBold', sans-serif;
       font-weight: 800;
       padding-bottom: 0;

     }

     &__history-side {
       display: flex;
       flex-wrap: wrap;
     }

     &__history-text {
       font-size: 2rem;
       line-height: 3rem;
       padding-bottom: 2.5rem;
     }

     &__team {
       padding-top: 10rem;
     }

     &__team-title {
       font-size: 3rem;
       line-height: 4rem;
       text-align: center;
       font-family: 'Manrope-ExtraBold', sans-serif;
       font-weight: 800;
       padding-bottom: 0;
     }

     &__team-inner {
       display: flex;
       flex-wrap: wrap;
       margin-right: 0;
     }

     &__team-info {
       text-align: center;
       padding-top: 1rem;

     }

     &__team-name {
       font-size: 1.7rem;
       line-height: 1.6rem;
     }

     &__team-job {
       font-size: 1.4rem;
       line-height: 1.5rem;
       margin-bottom: 1rem;
     }
     &__team-job--first{
      margin: 0 auto;
     }


   }
 }