@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';

.header {
  font-size: 14px;
  line-height: 140%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f8f8fc;
    padding-bottom: 8px;


  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 60px;

  }

  &__language {
    margin-right: 60px;
    color: $default;
  }

  &__eye {
    display: flex;
    align-items: center;
    color: $default;
    font-size: 14px;
    line-height: 140%;

  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    display: flex;

  }

  &__form-input {
    border: none;
    background-color: #fff;
    width: 50px;
    margin-right: 35px;
    position: relative;
  }

  &__contact {
    color: $default;
    margin-right: 35px;
    display: flex;
  }

  &__right-btn {
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;

    &:hover {
      color: $hover;
      transition: all .3s;

    }
  }





  &__bottom {
    padding-top: 20px;
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    margin-right: 40px;
  }

  &__list-link {
    color: $default;

  }

  &__list-link--bg {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &__list--bg {
    background-color: #452C60;
    border-radius: 14px;
    padding: 12px 20px;

    &:hover &__list-hover{
      
      background-color: $hover;
      transition: all .3s;

    }
  }
    &__list--bg:hover .header__list-hover{
      display: inline-flex;
     
    }


  &__list-hover {
    display: flex;
    justify-content: space-between;
    padding: 30px 112px 50px;
    gap: 35px;
    position: absolute;
    top: 65px;
    right: 0;
    display: none;
    background-color: #fff;
  }


  &__sub-inner {
    margin-right: 35px;
  }

  &__sub-list {
    padding-bottom: 20px;

  }

&__sub-list-link{
  font-size: 14px;
    line-height: 20px;
    color: $default;
}



}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  background: rgba(62, 63, 88, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: scroll;
  padding: 60px 15px;
  padding: 60px 15px;
  max-width: 450px;
  padding: 30px;
  background-color: #fff;

  &__window {
    display: block;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
  }

  &__window-top {
    display: block;

  }

  &__window-title {
    @extend %circe-700;
    font-size: 22px;
    line-height: 26px;
    margin-bottom: 10px;
  }

  &__window-subtitle {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;

  }

  &__window-form {
    display: block;
    flex-wrap: wrap;

  }

  &__window-select {
    width: 372px;
    padding: 8px 12px;
    border: 1px solid #3E3F58;
    border-radius: 14px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
  }

  &__window-firts,
  &__window-second {
    width: 372px;
    padding: 8px 12px;
    border: 1px solid #3E3F58;
    border-radius: 14px;
    margin-bottom: 10px;
    background-color: #fff;
    font-size: 14px;
    line-height: 20px;
    color: #dbdbdb;
  }

  &__window-second {
    min-height: 100px;

  }

  &__window-text {
    font-size: 12px;
    line-height: 16px;
    padding-top: 10px;
    padding-bottom: 10px;

    a {
      color: $default;
    }
  }

  &__window-btn {
    text-align: center;
    padding: 12px 20px;
    gap: 4px;
    background: #452C60;
    border-radius: 20px;
    width: 372px;
    color: #fff;

    &:hover {
      background-color: $hover;
      transition: all .3s;
    }
  }

}

.calculate {
  margin-bottom: 150px;

  &__inner {
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }

  &__item-link {
    padding: 12px 20px;
    gap: 4px;

    &:hover {
      border: 1px solid $hover;
      color: #fff;
      transition: all .3s;
      background-color: $hover;
    }


    border-radius: 14px;
    font-size: 14px;
    line-height: 20px;
    color: $default;
  }

  &__item-link--business {
    margin-right: 20px;
    border: 1px solid $default;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      border-right: 1px solid $default;
      height: 40px;
      right: -22px;
      top: 0;
    }
  }

  &__form {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0px 6px 12px -6px rgba(248, 248, 252, 0.12), 0px 8px 24px -4px rgba(69, 44, 96, 0.08);
    border-radius: 20px;
  }

  &__form-title {
    @extend %circe-700;
    font-size: 22px;
    line-height: 26px;

  }

  &__form-center {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__form-text {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 20px;
  }

  &__form-list {
    width: 269px;
    border-radius: 14px;
    padding: 8px 12px;
    background-color: #fff;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__form-place {
    width: 202px;
    border-radius: 14px;
    padding: 8px 12px;
    color: #dbdbdb;
    background-color: #fff;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__form-data__in,
  &__form-data__out,
  &__form-age {
    width: 202px;
    border-radius: 14px;
    padding: 8px 12px;
    color: #dbdbdb;
    background-color: #fff;
    margin-right: 20px;
    border: 1px solid $default;
    font-size: 14px;
    line-height: 20px;
  }

  &__form-bottom {
    display: flex;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid $default;
  }

  &__form-add {
    display: flex;
    padding: 8px 16px;
    gap: 4px;
    background-color: #fff;
    border-radius: 14px;
    border: 1px solid $default;
    margin-right: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  &__form-radio {
    margin-left: 20px;
    font-size: 14px;
    line-height: 20px;

  }

  &__form-btn {
    margin-top: 20px;
    padding: 12px 20px;
    gap: 4px;
    border-radius: 14px;
    background-color: #452C60;
    color: #fff;
    cursor: pointer;
  }


}

.about {
  margin-bottom: 140px;

  &__page {
    display: flex;
  }

  &__left-top {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 40px;
  }

  &__left-text {
    padding: 8px 16px;
    gap: 4px;
    border-radius: 14px;
    border: 1px solid $hover;
    font-size: 12px;
    line-height: 16px;
    color: $hover;
    margin-left: 10px;

  }

  &__left-center {
    width: 598px;
    margin-right: 123px;
  }

  &__left-txt {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 25px;
  }

  &__left-bottom {
    margin-top: 40px;
  }

  &__left-link {
    padding: 12px 20px;
    gap: 4px;
    background-color: #452C60;
    border-radius: 14px;
    color: #fff;
    margin-top: 15px;
    @extend %circe-700;
    font-size: 14px;
    line-height: 20px;
    color: #fff;

    &:hover {
      background-color: $hover;
      transition: all .3s;
      color: #fff;

    }

  }

  &__right-inner {
    display: flex;
    width: 495px;
    height: 200px;
    padding: 20px;
    gap: 12px;
    box-shadow: 0px 6px 12px -6px rgba(248, 248, 252, 0.12), 0px 8px 24px -4px rgba(69, 44, 96, 0.08);
    border-radius: 20px;
    margin-bottom: 20px;
  }

  &__right-title {
    @extend %circe-700;
    font-size: 14px;
    line-height: 20px;
    color: #CA5A9C;
    margin-bottom: 10px;
  }

  &__right-images {
    min-width: 120px;
  }

  &__right-text {
    font-size: 14px;
    line-height: 20px;
  }


}

.footer {
  background-color: $default;
  padding: 75px 112px;
  gap: 20px;

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: block;
    padding-right: 20px;
    border-right: 1px solid #fff;
    min-width: 530px;
  }

  &__left-item {
    padding-bottom: 22px;
    max-width: 505px;
  }

  &__left-item-link {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }

  &__right {
    display: block;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
  }

  &__right-subtitle {
    padding-bottom: 22px;
  }


}








.title {
  margin-top: 106px;
  margin-bottom: 150px;
}

.horib {
  display: block;
  text-align: center;

  &__title {
    font-size: 68px;
    line-height: 71px;
    @extend %manrope-800;
    margin-bottom: 30px;
    max-width: 1113px;
  }

  &__subtitle {
    font-size: 18px;
    line-height: 140%;
  }
}

.business {
  margin-bottom: 150px;

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    grid-column: 2;

  }

  &__item {
    display: block;
    max-width: 600px;

    &:hover {
      box-shadow: 0px 6px 12px -6px rgba(248, 248, 252, 0.12), 0px 8px 24px -4px rgba(69, 44, 96, 0.08);
      transition: all .3s;
    }

    border-radius: 20px;
    padding: 30px;

  }

  &__item-title {
    font-size: 22px;
    line-height: 26px;
    @extend %circe-700;
    padding-bottom: 20px;
  }

  &__subtitle {
    font-size: 14px;
    line-height: 20px;
  }

}


.person {
  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 40px;
    margin-bottom: 150px;
  }

  &__item {
    max-width: 290px;
    height: 270px;
    padding: 30px;

    &:hover {
      box-shadow: 0px 6px 12px -6px rgba(248, 248, 252, 0.12), 0px 8px 24px -4px rgba(69, 44, 96, 0.08);
    }

    border-radius: 20px;

  }

  &__item-title {
    font-size: 22px;
    line-height: 26px;
    @extend %circe-700;
    padding-bottom: 20px;
  }

  &__img {
    padding-top: 20px;
    position: absolute;
    top: 170px;
  }
}

.partners {
  padding-bottom: 140px;

  &__top {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

  }
}

.clients {
  padding-bottom: 150px;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__inner {
    display: flex;
    padding: 20px;
    box-shadow: 0px 6px 12px -6px rgba(248, 248, 252, 0.12), 0px 8px 24px -4px rgba(69, 44, 96, 0.08);
    border-radius: 20px;
    background-color: #fff;
    margin-right: 20px;
    margin-top: 33px;
    max-height: 180px;


  }

  &__content {
    display: flex;
  }

  &__slider {
    display: flex;

  }

  &__about {
    margin-left: 10px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    width: 424px;
    padding-bottom: 23px;
  }

  &__firm {
    font-size: 14px;
    line-height: 20px;
    @extend %circe-700;
    color: #CA5A9C;
    padding-bottom: 5px;
  }

  &__name {
    font-size: 12px;
    line-height: 16px;
  }

}

.popular {
  padding: 150px 112px 75px;
  gap: 40px;
  background-color: #fff;

  &__title {
    font-size: 32px;
    line-height: 46px;
    @extend %manrope-400;
    padding-bottom: 40px;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__links-left,
  &__links-right {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 14px;
    line-height: 20px;
    color: $default;
    padding-top: 20px;
  }

  &__links-title {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 26px;
    @extend %circe-700;
    margin-bottom: 30px;
  }

  &__links-contact {
    padding: 30px;
    background-color: #452C60;
    border-radius: 20px;
    color: #fff;
    width: 412px;
    height: 372px;

  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__contact-number,
  &__contact-post,
  &__contact-adress,
  &__contact-btn {
    margin-bottom: 32px;
  }

  &__contact-btn {
    padding: 12px 20px;
    gap: 4px;
    color: #fff;
    background-color: $hover;
    border-radius: 14px;
    font-size: 14px;
    line-height: 20px;
    @extend %circe-700;
    min-width: 212px;
  }

  &__contact-num,
  &__contact-email,
  &__contact-city {
    font-size: 22px;
    line-height: 26px;
    @extend %circe-700;
    padding-bottom: 10px;

  }

  &__contact-adress {
    width: 288px
  }

  p {
    @extend %circe-700;
    font-size: 14px;
    line-height: 20px;

  }
}