@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';
@import 'libs';

body {
  position: relative;
}

.preloaders {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 1001;
}

.preloaders__img {
  font-size: 7rem;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3.5rem 0 0 -3.5rem;
}


.header {
  font-size: 1.4rem;
  line-height: 2rem;


  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #f8f8fc;
    padding-bottom: 0.8rem;


  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 6rem;

  }



  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    display: flex;
    align-items: center;

  }

  &__form-input {
    font-size: 1.4rem;
    line-height: 2rem;
    border: none;
    color: $default;
    width: 7rem;
    background-color: transparent;
  }

  &__form-input::placeholder {
    color: $default;
  }


  &__contact {
    display: flex;
    align-items: center;
    color: $default;
    margin-right: 2.5rem;
    gap: 0.3rem;

    svg {
      margin-top: 0.5rem;
    }

    &:hover {
      svg {
        path {
          transition: ease 0.3s;
          stroke: $hover
        }

      }
    }


  }

  &__svg {


    &:hover svg {
      path {
        transition: ease 0.4s;
        stroke: $hover
      }

    }
  }






  &__right-btn {
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    gap: 0.4rem;

    svg {
      margin-top: 0.5rem;
    }

    &:hover {
      color: $hover;
      transition: all .3s;

      svg {
        path {
          transition: ease 0.3s;
          stroke: $hover
        }

      }

    }
  }

  &__list-business {
    position: relative;
  }

  // .header__list:hover>.header__list-more {
  //   display: flex;
  //   transition: all .3s ease 1s;
  // }






  &__list-more {
    display: flex;
    position: absolute;
    background-color: #fff;
    width: 120rem;
    top: 4rem;
    padding-top: 6rem;
    padding-bottom: 3rem;
    padding-left: 10rem;
    padding-right: 10rem;
    z-index: 10;
    display: none;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 1.4rem;


  }

  &__list-more__item {
    display: flex;
    flex-direction: column;
    width: 28rem;
    margin-right: 2rem;
    text-align: start;

    padding: 1.5rem
  }

  &__list-more__title {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    padding-top: 4rem;

  }

  &__list-more__link {
    padding-bottom: 2rem;
  }







  &__bottom {
    padding-top: 2rem;
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-bottom: 2rem;
  }



  &__list-link {
    color: $default;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    padding-bottom: 4rem;
  }
  .header__list-link.active{
    color: $hover;
  }


  &__list-link--bg {
    color: #fff;


    &:hover {
      color: #fff;

    }
  }

  &__list--bg {
    background-color: #452C60;
    border-radius: 1.4rem;
    padding: 1.2rem 2rem;

    &:hover {
      background-color: $hover;
      transition: all .3s;
    }

  }








}

.header__contact {
  &:hover svg>path {
    transition: ease 0.4s;
    stroke: $hover;
  }
}

.modal {



  position: fixed;
  top: 9rem;
  left: 50rem;
  bottom: 0;
  z-index: 5;
  background: rgba(62, 63, 88, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 43.2rem;
  height: 45.2rem;
  background-color: #fff;
  display: none;
  padding: 3rem;
  border-radius: 2rem;
  overflow: hidden;

  &-wrapper {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(62, 63, 88, 0.15);
    display: none;
    z-index: 4;
    overflow: auto;


  }

  &__wrapper {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(62, 63, 88, 0.15);
    display: none;
    z-index: 1;
    overflow: hidden;


  }
  &__option{
    border-radius: 1.4rem;
  }




  &__window {
    display: block;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
    background-color: #fff;
  }

  &__window-top {
    display: block;

  }

  &__window-title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 1rem;
  }

  &__window-subtitle {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;

  }

  &__window-form {
    display: block;
    flex-wrap: wrap;

  }

  &__window-select {
    width: 37.2rem;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #3E3F58;
    border-radius: 1.4rem;
    margin-bottom: 1rem;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__window-firts,
  &__window-second {
    width: 37.2rem;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #3E3F58;
    border-radius: 1.4rem;
    margin-bottom: 1rem;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #dbdbdb;
  }

  &__window-second {
    min-height: 10rem;

  }

  &__window-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a {
      color: $default;
    }
  }

  &__window-btn {
    text-align: center;
    padding: 1.2rem 2rem;
    gap: 0.4rem;
    background: #452C60;
    border-radius: 2rem;
    width: 37.2rem;
    color: #fff;
    border: none;

    &:hover {
      background-color: $hover;
      transition: all .3s;
    }
  }

  &-two {
    position: fixed;
    top: 2rem;
    left: 50rem;
    bottom: 0;
    z-index: 5;
    background: rgba(62, 63, 88, 0.15);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 43.2rem;
    height: 70rem;
    background-color: #fff;
    display: none;
    padding: 3rem;
    border-radius: 2rem;
  }

  &__insurance {
    display: block;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
    background-color: #fff;
  }

  &__insurance-top {
    display: block;

  }

  &__insurance-title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 1rem;
  }

  &__insurance-subtitle {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;

  }

  &__insurance-form {
    display: block;
    flex-wrap: wrap;

  }

  &__insurance-select {
    width: 37.2rem;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #3E3F58;
    border-radius: 1.4rem;
    margin-bottom: 1rem;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__insurance-firts,
  &__insurance-second {
    width: 37.2rem;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #3E3F58;
    border-radius: 1.4rem;
    margin-bottom: 1rem;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #dbdbdb;
  }

  &__insurance-firts,
  &__insurance-second::placeholder {
    color: $default;
  }

  &__insurance-firts--date::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url('../images/calendar.svg') no-repeat center;
    background-size: contain;
  }

  &__insurance-second {
    min-height: 10rem;

  }

  &__insurance-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a {
      color: $default;
    }
  }

  &__insurance-btn {
    text-align: center;
    padding: 1.2rem 2rem;
    gap: 0.4rem;
    background: #452C60;
    border-radius: 2rem;
    width: 37.2rem;
    color: #fff;
    

    &:hover {
      background-color: $hover;
      transition: all .3s;
    }
  }

  &__insurance-checkboxes {
    display: flex;
    flex-wrap: wrap;

  }

  &__insurance-checkbox {
    padding-bottom: 1rem;
  }

  &__insurance-checkbox__input:checked+span {
    color: $hover;
    transition: all .3s;
  }



}


.breadcrumbs {
  padding-top: 5rem;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $default;
    @extend %circe-700;

    &:last-child {
      color: #dbdbdb;
    }
  }

  &__link {
    color: inherit;
  }
}



.footer {
  background-color: $default;
  padding: 7.5rem 11.2rem;
  gap: 2rem;

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: block;
    padding-right: 2rem;
    border-right: 0.1rem solid #fff;
    min-width: 53rem;
  }

  &__left-item {
    padding-bottom: 2.2rem;
    max-width: 50.5rem;
  }

  &__left-item-link {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #fff;
  }

  &__right {
    display: block;
    color: #fff;
    padding: 1rem;
    padding-left: 2rem;
  }

  &__right-subtitle {
    padding-bottom: 2.2rem;
  }


}








.title {
  padding-top: 12rem;
  margin-bottom: 15rem;
}

.horib {
  text-align: center;

  &__title {
    font-size: 6.8rem;
    line-height: 7.1rem;
    @extend %manrope-800;
    margin-bottom: 3rem;
    text-align: center;

  }


  &__subtitle {
    width: 52rem;
    white-space: nowrap;
    overflow: hidden;
    border-right: 0.2rem solid $default;
    animation: cursor 1s step-start infinite,
      text 3s steps(120) alternate;
    font-size: 1.8rem;
    line-height: 2rem;
    margin-left: 34rem;
  }

  @keyframes cursor {

    0%,
    100% {
      border-color: $default;
    }

    50% {
      border-color: transparent;
    }
  }

  @keyframes text {
    0% {
      width: 0;
    }

    100% {
      width: 52rem;
    }
  }

}

.business {

  &__top {
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 8rem;
    ;
  }

  &__title {
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7.1rem;
    text-align: center;
    padding-bottom: 2rem;
    width: 81rem;
  }

  &__text {
    text-align: center;
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-bottom: 2rem;
    width: 70rem;
  }

  &__search {
    border: none;
    padding: 0.8rem 1.2rem;
    width: 64.5rem;
    height: 4.8rem;
    background-color: #fff;
    border-radius: 1.4rem;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;

  }

  &__search::placeholder {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #dbdbdb;
  }

  &__btn {
    @extend %btn
  }

  .section__title {
    padding-bottom: 4rem;
  }

  &__category-property {
    position: relative;
  }

  &__item-about {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1rem;
    text-align: start;
  }


  &__img {
    transition: all 0.3s linear;
    display: block;
  }

  &__img-one.transform,
  &__img-two.transform {
    transform: rotate(90deg);
    right: 2rem;
  }

  &__img-one.transform {
    position: absolute;

    top: 36rem;
  }

  &__filter {
    display: flex;
    padding-bottom: 3rem;
  }

  &__filter-btn {
    color: $default;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 1.2rem 2rem;
    cursor: pointer;
    border: none;
    border-radius: 1.4rem;
    background-color: transparent;

    &:hover {
      background-color: $hover;
      color: #fff;
      
      transition: all .6s;
    }

  }

  &__filter-btn:focus {
    background-color: $hover;
    color: #fff;
    border-radius: 1.4rem;
    outline: none;
  }

  &__items-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
  }



  // &__items-more {
  //   display: none;

  //   img {
  //     display: block;
  //   }
  // }

  // &__items-more--two {
  //   display: none;

  //   img {
  //     display: block;
  //   }
  // }
  // .swiper{
  //   width: 120rem;
  //   height: 100%;
  // }
  .swiper {
    border-radius: 1.4rem;
    background-color: transparent;
  }

  .swiper__arrow {
    position: relative;
  }


  .swiper-wrapper {
    height: 20rem !important;
    padding: 2rem 0.5rem;
    width: 120rem;
  }

  .swiper-pagination-bullet {
    width: 0.8rem;
    height: 0.8rem;
  }

  .swiper-pagination-bullet-active {
    background-color: $default;
    // width: 1rem;
    // height: 1rem;
  }

  .swiper-slide,
  .swiper-slide-active,
  .swiper-slide-next {
    height: 11rem !important;
    width: 31.2rem !important;
  }
  



  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 1rem);
  }

  .pagination-bullet-active-prev-prev {
    width: 0.5rem;
    height: 0.5rem;
  }














  &__item {
    display: block;
    width: 37rem;
    height: 17rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    padding: 3rem;
    background-color: #fff;
    gap: 2rem;
    transition: transform .2s;
  }

  &__item:hover {
    transform: scale(1.03);

    .business__item-text {
      color: $hover;
    }
  }


  &__item--position,
  &__item--position-two {
    position: relative;

  }

  &__img-one,
  &__img-two {
    position: relative;
    right: 2rem;
  }

  &__item-text {
    font-size: 2rem;
    line-height: 2rem;
    @extend %circe-700;
    color: $default;
    padding-top: 1rem;
    width: 33rem;

    &:hover {
      color: $hover;
      transition: all .3s;
    }

  }

  &__item-about {
    color: $default ;
    font-size: 1.4rem;
    line-height: 1.5rem;
  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }

  &__personal,
  &__finance {
    display: flex;
  

    a {
      margin-right: 1.3rem;
    }
  }

}


.person {
  margin-top: 15rem;

  &__top {
    margin-bottom: 4rem;
  }

  &__items {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;

  }
  .swiper-wrapper{
    padding: 1rem;
  }

  &__item {
    max-width: 21rem;
    height: 20rem;
    padding: 3rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
    transition: transform .2s;
    text-align: center;
  }

  &__item:hover {
    transform: scale(1.03);

    .person__item-title {
      color: $hover;
    }

  }


  &__item-title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    @extend %circe-700;
    padding-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 22.9rem;
    color: $default;
  }
}

.calculate {
  margin-top: 15rem;

  &__inner {
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }






  &__item-btn {
    padding: 1.2rem 2rem;
    gap: 0.4rem;
    border: none;
    background-color: transparent;
    margin-left: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;

    &:hover {
      color: #fff;
      transition: all .3s;
      background-color: $hover;
    }

    border-radius: 1.4rem;
    color: $default;
  }

  &__item-btn.active {
    background-color: $hover;
    color: #fff;
    border-bottom: none;
  }

  &__item-btn:focus {
    background-color: $hover;
    color: #fff;
    outline: none;
  }

  &__item-btn--business {
    margin-right: 2rem;
    border: 0.1rem solid $default;
    position: relative;
    background-color: transparent;

    &::after {
      position: absolute;
      content: "";
      border-right: 0.1rem solid $default;
      height: 4rem;
      right: -2.2rem;
      top: 0;
    }
  }

  &__form-inner {
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;

  }

  &__form-inner--house,
  &__form-inner--transport,
  &__form-inner--art {
    display: none;
  }


  // &__form-btn--life,
  // &__form-btn--house,
  // &__form-btn--transport,
  &__form-btn--art--active {
    background-color: $hover
  }


  &__form-title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;

  }

  &__form-center {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__form-text {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    padding-top: 1rem;
  }

  &__form-list {
    width: 26.9rem;
    border-radius: 1.4rem;
    padding: 0.8rem 1.2rem;
    background-color: #fff;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    background-color: #F8F8FC;
    color: $default;

  }

  &__form-place,
  &__form-gender {
    width: 20.2rem;
    border-radius: 1.4rem;
    padding: 0.8rem 1.2rem;
    color: #dbdbdb;
    background-color: #fff;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__form-data__in,
  &__form-data__out,
  &__form-age,
  &__form-num {

    width: 20.2rem;
    border-radius: 1.4rem;
    padding: 0.8rem 1.2rem;
    color: #dbdbdb;
    background-color: #fff;
    margin-right: 2rem;
    border: .1rem solid $default;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__form-data__in::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url('../images/calendar.svg') no-repeat center;
    background-size: contain;
  }

  &__form-data__out::-webkit-calendar-picker-indicator {
    color: transparent;
    opacity: 1;
    background: url('../images/calendar.svg') no-repeat center;
    background-size: contain;
  }

  &__form-bottom {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $default;
  }

  &__form-add {
    display: flex;
    padding: 0.8rem 1.6rem;
    gap: 0.4rem;
    background-color: #fff;
    border-radius: 1.4rem;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #452C60;
    border: 1px solid $default;
    align-items: center;

  }

  &__form-choise {
    padding: 0.8rem 1.6rem;
    background-color: transparent;
    border: 0.1rem solid $default;
    border-radius: 1.4rem;
    margin-right: 2rem;
  }

  &__form-choise:active {
    color: $hover;
    border: 0.1rem solid $hover;
  }

  &__form-radio {
    margin-left: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;

  }




  &__form-btn {
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    gap: 0.4rem;
    border-radius: 1.4rem;
    background-color: #452C60;
    color: #fff;
    cursor: pointer;
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    border: 1px solid $default;
  }


}

.about {
  padding-top: 14rem;

  &__page {
    display: flex;

  }

  &__left-top {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 4rem;
  }

  &__left-text {
    padding: 0.8rem 1.6rem;
    gap: 0.4rem;
    border-radius: 1.4rem;
    border: 0.1rem solid $hover;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $hover;
    margin-left: 1rem;


  }

  &__left-center {
    width: 59.8rem;
    margin-right: 12.3rem;
  }

  &__left-txt {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 2.5rem;
  }

  &__left-bottom {
    margin-top: 4rem;
  }

  &__left-link {
    padding: 1.4rem 2rem;
    gap: 0.4rem;
    background-color: #452C60;
    border-radius: 1.4rem;
    color: #fff;
    margin-top: 1.5rem;
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #fff;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);

    &:hover {
      background-color: $hover;
      transition: all .3s;
      color: #fff;

    }

  }

  &__right-files {
    display: flex;
    grid-column: 2;
    flex-wrap: wrap;

  }

  &__right-file {
    width: 23.5rem;
    padding: 0.5rem;
  }

  &__right-file__name {
    @extend %circe-700;
    padding: 1rem 0 1rem 0;
  }

  &__right-file-info {
    display: flex;
    align-items: center;

    p {
      color: #dbdbdb;
    }

    img {
      margin: 0 0.8rem 0 0.8rem;
    }

  }



}

.partners {
  padding-top: 14rem;
  padding-bottom: 7.5rem;

  &__top {
    margin-bottom: 4rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;

  }

  &__toggle {
    display: none;
  }
}
        .lb-data .lb-number {
          display: none !important
        }

.clients {
  padding-top: 14rem;
  padding-bottom: 7.5rem;

  &__top {
    padding-bottom: 4rem;
  }

  &__center {
    display: flex;
    align-items: center;

    img {
      width: 43%;
      margin: 0 auto;
    }

  }

  &__feedback {
    display: flex;
  }


  &__inner {
    padding: 2rem;
    width: 14.8rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    background-color: #fff;
    z-index: 1;
    height: 18.5rem;
    cursor: pointer;
    transition: transform .2s;

    img {
      width: 11.5rem ;
      height: 15rem
    }

  }
    &__inner:hover{
      transform: scale(1.03);
    }

  .swiper-wrapper {
    height: 26rem !important;
    padding: 1rem;
  }
  .swiper-slide-clients{
    width:14rem !important;
    height: 18.5rem !important;
  }

  .swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0.9rem);
  }

  .swiper-pagination-bullet {
    width: 0.8rem;
    height: 0.8rem;
  }

  .swiper-pagination-bullet-active {
    background-color: $default;
    // width: 1rem;
    // height: 1rem;
  }


  &__inner-title {
    @extend %circe-700;
    font-size: 1.2rem;
    line-height: 2rem;
    z-index: 1;
    text-align: center;
    margin-top: 1rem;



  }

  &__inner-text {
    padding-top: 1rem;
    line-height: 2rem;
    font-size: 1.4rem;
    z-index: 1;
  }

  &__inner--hover {
    position: relative;
  }

  &__inner--pictures {
    position: absolute;
    right: 34%;
    background-color: transparent;
    backdrop-filter: 0.2rem;
    opacity: 0;



  }

  &__inner--pictures:hover {
    opacity: 1;
    cursor: pointer;
    transition: all .3s;

    .CLIENTS__inner-text {
      opacity: 0;
    }



  }



}








.popular {
  padding: 7.5rem 4rem 7.5rem;
  gap: 4rem;
  background-color: #F8F8FC;


  &__top {
    padding-bottom: 4rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__links-left,
  &__links-right {
    display: flex;
    flex-direction: column;
    margin-right: 1rem;
  }

  &__link {
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: $default;
    padding-bottom: 1rem;
  }

  &__links-title {
    margin-top: 5rem;
    margin-bottom: 3rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
    @extend %circe-700;
    margin-bottom: 3rem;
  }

  &__links-contact {
    padding: 3rem;
    background-color: #452C60;
    border-radius: 2rem;
    color: #fff;
    width: 41.2rem;
    height: 37.2rem;
    position: sticky;
    top: 15rem;
  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

  }

  &__contact-number,
  &__contact-post,
  &__contact-adress {
    margin-bottom: 3.2rem;
  }

  &__contact-btn {
    padding: 1.2rem 2rem;

    gap: 0.4rem;
    color: #fff;
    background-color: $hover;
    border-radius: 1.4rem;
    font-size: 1.4rem;
    line-height: 2rem;
    @extend %circe-700;
    

    &:hover {
      color: #fff;
      transition: all .3s;
    }
  }

  &__contact-num,
  &__contact-email,
  &__contact-city {
    font-size: 2.2rem;
    line-height: 2.6rem;
    @extend %circe-700;
    padding-bottom: 1rem;

  }

  &__contact-adress {
    width: 28.8rem
  }

  p {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;

  }
}

.reinsurance {
  padding-top: 15rem;

  &-top {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 10rem;
  }

  &-top__title {
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7rem;
    padding-bottom: 3rem;
  }

  &-top__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    width: 74rem;
    margin-left: 21rem;
    padding-bottom: 3rem;
  }

  &-top__btn {
    @extend %btn;
    margin-right: 7rem;
  }

  &-programms__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
  }


  &-programms__link {
    background-color: #fff;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    padding: 3rem;
    border-radius: 2rem;
    margin-right: 2rem;
    width: 39rem;
    transition: transform .2s
  }

  &-programms__link:hover {
    transform: scale(1.03);

    .reinsuranse-programms__title {
      color: $hover;
    }
  }


  &-programms__title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 1rem 0 1rem 0;
  }

  &-programms__text {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $default;
  }

  &-faq__title {
    padding-bottom: 4rem;
  }

  &-faq {
    padding-top: 15rem;
  }

  &-faq__side {
    display: flex;
    justify-content: space-between;
  }

  &-faq__right-text {
    line-height: 2rem;
    font-size: 1.4rem;
    padding-bottom: 2rem;

  }

  &-faq__right {
    width: 39rem;
    margin-left: 7rem;
  }

  &-faq__right-btn {
    @extend %btn;

  }






  &-faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    width: 80rem;
    height: 8rem;
    background-color: #fff;
    border: none;
    margin-bottom: 2rem;
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;

  }

  &-faq__img {
    transition: all 0.3s linear;
  }

  &-faq__img.transform {
    transform: rotate(180deg);
  }

  &-faq__text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 3rem;
    display: none;
    width: 80rem;

    p {
      margin-bottom: 2rem;
    }

  }
  .swiper{
    display: none;
  }


}

.reinsurens__traditional {
  padding-top: 12rem;

  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &-info {
    padding-bottom: 3rem;
  }


  &-left {
    display: block;
    width: 69.5rem;
    margin-right: 10rem;

  }

  &-left__choise {
    @extend %circe-700;
    line-height: 2rem;
    font-size: 1.4rem
  }

  &-title {
    width: 86rem;
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7.1rem;
    padding-bottom: 2rem;
    color: $default;
    padding-top: 2rem;
  }

  &-subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 63rem;
    padding-bottom: 2rem;
  }

  &-btn {
    @extend %btn;
    cursor: pointer;
  }



  &-right {
    padding-bottom: 20rem;
    margin-left: 10rem;
  }

  &__title {
    width: 70rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  &-side {
    display: flex;
  }

  &-left {
    width: 70rem;
  }

  &-left__text {
    padding-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &-left__choise {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &-left__select {
    display: flex;
    align-items: top center;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 72rem;
    padding-bottom: 1rem;

    img {
      margin-right: 1rem;
    }
  }


  &-about__text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }





  &-right-text {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    width: 39rem;

  }

  &-pluses-title {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }

  &-right__btn {
    @extend %btn;
  }

  &-pluses__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 39.2rem;
  }

  &-pluses__top {
    display: flex;
    align-items: center;
  }

  &-pluses__top-title {
    margin-left: 1rem;
    width: 39rem;
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  &-pluses__text {
    padding: 1rem 3rem;
  }
}

.business__page {
  padding-top: 12rem;
  .swiper-slide-clients {
      height: 18.5rem !important;
      width: 14.8rem !important;
    }
  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }

  &-info {
    padding-bottom: 3rem;
  }


  &-left {
    display: block;
    width: 69.5rem;
    margin-right: 14rem;
    padding-bottom: 10rem;
  }

  &-left__choise {
    @extend %circe-700;
    line-height: 2rem;
    font-size: 1.4rem
  }

  &-title {
    width: 78rem;
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7.1rem;
    padding-bottom: 2rem;
    color: $default;
    padding-top: 2rem;
  }

  &-subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 73rem;
    padding-bottom: 2rem;
  }

  &-btn {
    @extend %btn;
    cursor: pointer;
  }



  &-right {
    padding-bottom: 20rem;
  }

  &__title {
    width: 70rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  &-side {
    display: flex;
  }


  &-left {
    width: 70rem;
  }

  &-left--types {
    width: auto;
    margin-right: 0;

  }

  &-left__text {
    padding-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &-left__choise {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &-left__select {
    display: flex;
    align-items: flex-start;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 72rem;
    padding-bottom: 1rem;

    img {
      margin-right: 1rem;
      margin-top: 0.5rem;
    }
  }

  &-left__select--types {
    width: auto;
  }


  &-about__text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &-about__text--price {
    width: 60rem
  }





  &-right-text {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    width: 39rem;

  }

  &-pluses-title {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }

  &-right__btn {
    @extend %btn;
  }

  &-pluses__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 39.2rem;
  }

  &-pluses__top {
    display: flex;
    align-items: center;
  }

  &-pluses__top-title {
    margin-left: 1rem;
    width: 40rem;
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  &-pluses__text {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &-price {
    padding-top: 15rem;
  }

  &-price__side {
    display: flex;
    justify-content: space-between;
  }


}







.about-us {
  
  &__top {
    text-align: center;
  }

  &__title {
    padding-bottom: 4rem;
    padding-top: 10rem;
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7.1rem;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.6rem;
    width: 83rem;
    margin-left: 21.5rem;
    text-align: center;
    margin-bottom: 5rem;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    padding: 3rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    background-color: #fff;
    width: 29rem;
    height: 22rem;
    transition: transform .2s
  }

  &__link:hover {
    transform: scale(1.03);

    .about-us__link-title {
      color: $hover
    }
  }

  &__link-title {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $default;
    margin-bottom: 1rem;

  }

  &__link-text {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $default;

  }

  &__history {
    padding-top: 15rem;
  }

  &-title {
    margin-bottom: 4rem;
  }

  &__history-side {
    display: flex;
  }

  &__history-left {
    width: 60rem;
  }

  &__history-text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 2rem;
  }

  &__history-right {
    margin-left: 12rem;
    width: 50rem
  }

  &__right-text {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 50rem;
    margin-bottom: 2rem;
    padding-top: 2rem;
  }

  &__btn {
    @extend %btn
  }

  &-right__files {
    padding-top: 0;
  }

  &__right-files {
    display: flex;
    grid-column: 2;
    flex-wrap: wrap;

  }

  &__right-file {
    width: 23.5rem;
    padding: 2rem;
  }

  &__right-file__name {
    @extend %circe-700;
    padding: 1rem 0 1rem 0;
  }

  &__right-file-info {
    display: flex;
    align-items: center;

    p {
      color: #dbdbdb;
    }

    img {
      margin: 0 0.8rem 0 0.8rem;
    }

  }



  &__team {
    padding-top: 15rem;
  }

  &__team-title {
    padding-bottom: 4rem;
  }

  &__team-inner {
    display: flex;
    justify-content: space-between;
    margin-right: 10rem;


  }

  &__team-info {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
  }

  &__team-name {
    @extend %circe-700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: 1rem;


  }

  &__team-job--first {
    width: 15.6rem;
  }

  &__team-job {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: 1rem;

  }
  .swiper{
    display: none;
  }


}





.marketplace {
  padding-top: 15rem;

  &-top {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 3rem;
  }

  &-top__title {
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7rem;
    padding-bottom: 3rem;
  }

  &-top__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    padding-bottom: 3rem;
  }

  &-top__btn {
    @extend %btn
  }

  &-programms__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
  }

  &-programms__link {
    background-color: #fff;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    padding: 3rem;
    border-radius: 2rem;
    margin-right: 2rem;
    width: 29rem;
    
  }

  &-programms__link:hover {

    .marketplace-programms__title {
      color: $hover
    }

  }

  &-programms__title {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 1rem 0 1rem 0;
    width: 24rem;
  }

  &-programms__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &-faq__title {
    padding-bottom: 4rem;
  }

  &-faq {
    padding-top: 15rem;
  }

  &-faq__side {
    display: flex;
    justify-content: space-between;
  }

  &-faq__right-text {
    line-height: 2rem;
    font-size: 1.4rem;
    padding-bottom: 2rem;

  }

  &-faq__right {
    width: 39rem;
    margin-left: 7rem;
  }

  &-faq__right-btn {
    @extend %btn;

  }






  &-faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    width: 80rem;
    height: 8rem;
    background-color: #fff;
    border: none;
    margin-bottom: 2rem;
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;

  }

  &-faq__img {
    transition: all 0.3s linear;
  }

  &-faq__img.transform {
    transform: rotate(180deg);
  }

  &-faq__text {
    font-size: 1.4rem;
    line-height: 2rem;
    display: none;
    width: 80rem;

    p {
      margin-bottom: 2rem;
    }

  }

  &-faq__text-choise {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;

  }

  &-faq__select {
    display: flex;
    align-items: top center;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 72rem;
    padding-bottom: 1rem;

    img {
      margin-right: 1rem;
    }
  }


  &-faq__text-choise {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__pluses-title {
    padding-top: 12rem;
    padding-bottom: 4rem;
  }

  &-right__btn {
    @extend %btn;
  }

  &__pluses-inner {
    display: flex;
    justify-content: space-between;
  }

  &__pluses-top {
    display: flex;
    align-items: center;
  }

  &__pluses-top__title {
    margin-left: 1rem;
    width: 39rem;
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  &__pluses-text {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    line-height: 2rem, ;
  }

  &__widget-title {
    padding-bottom: 4rem;
  }

  &__widget {
    padding-top: 15rem;
  }

  &__widget-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;

  }

  &__widget-item {
    padding: 3rem;
    width: 39rem;
    background-color: #fff;
    border-radius: 2rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    gap: 1rem;
    
  }

  &__widget-item:hover {
    

    .marketplace__widget-item__title {
      color: $hover
    }
  }

  &__widget-item__title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding-bottom: 1rem;
  }

  &__widget-item__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__integration-side {
    display: flex;
    justify-content: space-between;
    padding-top: 15rem;
  }

  &__integration-title {
    padding-bottom: 3rem;
  }

  &__integration-text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1.5rem;
    width: 59.8rem;
  }

  &__help {
    padding-top: 15rem;
    padding-bottom: 7.5rem;

  }

  &__side {
    display: flex;
    justify-content: space-between;
  }

  &__left-title {
    padding-bottom: 4rem;
  }

  &__left-text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 3rem;
    width: 60rem;
  }

  &__left-btn__link {
    @extend %btn;
    margin-top: 3rem;
    &:hover{
      color: #fff;
    }
  }

  &__right-files {
    display: flex;
    grid-column: 2;
    flex-wrap: wrap;

  }

  &__right-file {
    width: 23.5rem;
    padding: 2rem;
  }

  &__right-file__name {
    @extend %circe-700;
    padding: 1rem 0 1rem 0;
  }

  &__right-file-info {
    display: flex;
    align-items: center;

    p {
      color: #dbdbdb;
    }

    img {
      margin: 0 0.8rem 0 0.8rem;
    }

  }
  .swiper{
    display: none;
  }


}

.email {
  display: flex;

  &-form {
    padding: 3rem;
    width: 43.2rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem
  }

  &-form__title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding-bottom: 1rem;
  }

  &-form__subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 1rem;
  }

  &-form__info {
    width: 37.2rem;
    height: 4.8rem;
    border-radius: 1.4rem;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #3E3F58;
    background-color: #fff;
    margin-bottom: 1rem;

    &::placeholder {
      font-size: 1.4rem;
      line-height: 2rem;
      color: #dbdbdb;
    }
  }



  &-form__inner {
    display: inline-grid;
  }

  &-top {
    padding-top: 5rem;
    padding-bottom: 2rem;

    img {
      margin: 0 auto;
    }
  }

  &-form__sand {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-bottom: 1rem;
  }

  &-form__btn {
    padding: 1.45rem 10.7rem;
    color: #fff;
    font-size: 1.2rem;
    width: 37.2rem;
    background-color: #452C60;
    border-radius: 1.4rem;
    width: 37.2rem;

    cursor: pointer;


  }

}

.audit {
  padding-top: 10rem;
  padding-bottom: 15rem;

  &-top {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 3rem;
  }

  &-top__title {
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7rem;
    padding-bottom: 2rem;
  }

  &-top__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    width: 72rem;
    margin-left: 24rem;
    padding-bottom: 3rem;
  }

  &-top__btn {
    @extend %btn;

  }

  &-programms__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
  }

  &-programms__link {
    background-color: #fff;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    padding: 3rem;
    border-radius: 2rem;
    margin-right: 2rem;
    width: 39rem;
    height: 29.5rem;
  }

  &-programms__title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 1rem 0 1rem 0;
  }

  &-programms__text {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__pluses {
    padding-bottom: 15rem;
  }

  &__pluses-inner {
    display: flex;
    padding-top: 5rem;
    width: 29.8rem;
  }

  &__pluses-top {
    display: flex;
    align-items: flex-start;

    img {
      margin-top: 0.2rem;
    }
  }

  &__pluses-top__title {
    margin-left: 1rem;
    width: 25rem;
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }

  &__pluses-text {
    padding: 1rem 3rem;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 26rem;
  }

  &-faq__title {
    padding-bottom: 4rem;
  }

  &-faq__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3rem;
    gap: 1rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    width: 80rem;
    height: 8rem;
    background-color: #fff;
    border: none;
    margin-bottom: 2rem;
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;

  }

  &-faq__img {
    transition: all 0.3s linear;
  }

  &-faq__img.transform {
    transform: rotate(180deg);
  }

  &-faq__text {
    font-size: 1.4rem;
    line-height: 2rem;
    display: none;
    width: 80rem;

    p {
      margin-bottom: 2rem;
    }

  }

  &-faq__text-choise {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;

  }

  &-faq__select {
    display: flex;
    align-items: top center;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 72rem;
    padding-bottom: 1rem;

    img {
      margin-right: 1rem;
    }
  }


  &-faq__text-choise {
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__about-text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }

  &-faq__right-text {
    line-height: 2rem;
    font-size: 1.4rem;
    padding-bottom: 2rem;

  }

  &-faq__right {
    width: 39rem;
    margin-left: 7rem;
  }

  &-faq__right-btn {
    @extend %btn;

  }

  &-faq__side {
    display: flex;
  }
  .swiper{
    display: none
  }
}

.contacts {
  &__title {
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7.1rem;
    padding-bottom: 3rem;
    padding-top: 4rem;
  }

  &__side {
    display: flex;
    justify-content: space-between;
  }

  &__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    width: 49.6rem;
    padding-bottom: 4rem;
  }

  &__btn {
    border: none;
    padding: 1.2rem 2rem;
    border-radius: 1.4rem;
    background-color: transparent;
    margin-right: 2rem;
    line-height: 2rem;
    font-size: 1.4rem;
    margin-bottom: 3rem;

    &:hover {
      background-color: $hover;
      color: #fff;
    }
  }



  &__btn.active {
    background-color: $hover;
    color: #fff;
  }

  &__btn:focus {
    background-color: $hover;
    color: #fff;
    outline: none;
  }

  &__info-inner {
    padding-bottom: 3rem;
  }
    &__info--info{
      margin-right: 1.5rem;
    }


  &__info--requisites,
  &__info--info {
    display: none
  }

  &__info-title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding-bottom: 1rem;
    margin-top: 1rem;
  }

  &__info-subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  &-side__right {
    padding-top: 3rem;
  }

  &__map {
    width: 60.8rem;
    height: 61.4rem;
  }


}

[class*='ground-pane'] {
  filter: grayscale(1);
}

[class*='copyrights-pane'] {
  display: none;
}

.purchases {
  padding-top: 10rem;
  padding-bottom: 15rem;

  &-top {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 3rem;
  }

  &-top__title {
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7rem;
    padding-bottom: 2rem;
  }

  &-top__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    width: 72rem;
    margin-left: 24rem;
    padding-bottom: 3rem;
  }

  &-top__btn {
    @extend %btn;

  }

  &-programms__inner {
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
  }

  &-programms__link {
    background-color: #fff;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    padding: 3rem;
    border-radius: 2rem;
    margin-right: 2rem;
    width: 28.9rem;

    img {
      margin: 0 auto;
      padding-bottom: 1rem;
    }
  }

  &-programms__text {
    font-size: 1.4rem;
    line-height: 2rem;
    @extend %circe-700;
    width: 22.9rem;
    text-align: center;
  }





  &-faq__btn {
    border: none;
    background-color: transparent;
    padding: 1.2rem 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 4rem;
    margin-right: 2rem;

    &:hover {
      background-color: $hover;
      color: #fff;
      border-radius: 1.4rem;
      transition: all .3s;
    }
  }

  &-faq__btn:focus {
    background-color: $hover;
    color: #fff;
    border-radius: 1.4rem;
    outline: none;
  }

  &-faq__title {
    padding-bottom: 4rem;
  }

  &-faq__question {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    gap: 1rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    width: 70rem;
    height: 8rem;
    background-color: #fff;
    border: none;
    margin-bottom: 2rem;
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;

    img {
      max-width: none;
    }

  }

  &-faq__question--one {
    width: 70rem;
    height: 19rem;
  }

  &-faq__question--two {
    height: 13.6rem;
  }

  &-faq__question-info {
    line-height: 2rem;
    font-size: 1.4rem;
    @extend %circe-400;
    padding-top: 1rem;
  }

  &-faq__img {
    transition: all 0.3s linear;
  }

  &-faq__img.transform {
    transform: rotate(180deg);
  }

  &-faq__text {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 80rem;

    p {
      margin-bottom: 2rem;
    }

  }






  &-faq__text-choise {
    font-size: 1.4rem;
    line-height: 2rem;
  }


  &-faq__right-text {
    line-height: 2rem;
    font-size: 1.4rem;
    padding-bottom: 2rem;

  }

  &-faq__right {
    width: 39rem;
    margin-left: 7rem;
  }

  &-faq__right-btn {
    @extend %btn;

  }

  &-faq__side {
    display: flex;

  }

  &-faq__files {
    display: flex;
    grid-column: 2;
    flex-wrap: wrap;
    display: none;

  }

  &-faq__file {
    width: 32.6rem;
    padding: 2rem;
  }

  &-faq__file-name {
    @extend %circe-700;
    padding: 1rem 0 1rem 0;
  }

  &-faq__file-info {
    display: flex;
    align-items: center;

    p {
      color: #dbdbdb;
    }

    img {
      padding: 0.7rem 0.8rem;
      margin-bottom: 2rem;
    }
  }
}

.personal {
  padding-top: 10rem;


  &-top {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    padding-bottom: 3rem;
  }

  &-top__title {
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7rem;
    padding-bottom: 2rem;
  }
  .swiper {
    display: none;
  }

  &-top__text {
    font-size: 1.8rem;
    line-height: 2.5rem;
    width: 72rem;
    margin-left: 24rem;
    padding-bottom: 10rem;
  }

  &-top__btn {
    @extend %btn;

  }

  &-programms__inner {
    display: flex;
    grid-column: 3;
    flex-wrap: wrap;
    margin-top: 4rem;
  }

  &-programms__link {
    background-color: #fff;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    padding: 3rem;
    border-radius: 2rem;
    margin-bottom: 3rem;
    margin-right: 1rem;
    transition: transform .2s;
  }

  &-programms__link:hover {
    transform: scale(1.03);

    .personal-programms__title {
      color: $hover
    }
  }

  &-programms__title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    padding: 1rem 0 1rem 0;

  }

  &-programms__text {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 33rem;
    color: $default;
  }

  &-faq {
    padding-top: 15rem;
    padding-bottom: 15rem;
  }


  &-faq__title {
    padding-bottom: 4rem;
  }

  &-faq__question {
    display: flex;
    justify-content: space-between;
    padding: 3rem;
    gap: 1rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    width: 70rem;
    height: 8rem;
    background-color: #fff;
    border: none;
    margin-bottom: 2rem;
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;

    img {
      max-width: none;
    }

  }







  &-faq__img {
    transition: all 0.3s linear;
  }

  &-faq__img.transform {
    transform: rotate(180deg);
  }

  &-faq__text {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 64rem;
    display: none;

    p {
      margin-bottom: 2rem;
      padding-left: 2rem;
    }

  }



  &-faq__right-text {
    line-height: 2rem;
    font-size: 1.4rem;
    padding-bottom: 2rem;

  }

  &-faq__right {
    width: 39rem;
    margin-left: 7rem;
  }

  &-faq__right-btn {
    @extend %btn;

  }

  &-faq__side {
    display: flex;

  }

  &-pluses {

    padding-bottom: 7rem;
  }

  &-pluses__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-pluses__item {
    margin-right: 2rem;
    margin-top: 4rem;


    img {
      margin: 0 auto
    }
  }

  &-pluses__item-title {
    @extend %circe-700;
    line-height: 2.6rem;
    font-size: 2.2rem;
    text-align: center;
    width: 29rem
  }

  &-pluses__item-text {
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
  }

}


@import 'media';