@import 'vars';
@import 'fonts';
@import 'global';
@import 'reset';

.header {
  font-size: 1.4rem;
  line-height: 140%;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 0.1rem solid #f8f8fc;
    padding-bottom: 0.8rem;


  }

  &__left {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    margin-right: 6rem;

  }

  &__language {
    margin-right: 6rem;
    color: $default;
  }

  &__eye {
    display: flex;
    align-items: center center;
    color: $default;
    font-size: 1.4rem;
    line-height: 140%;
    gap: 0.3rem;

  }

  &__right {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__form {
    display: flex;
    align-items: center;

  }

  &__form-input {
    border: none;
    background-color: #fff;
    width: 5rem;
    margin-right: 3rem;
    position: relative;
  }

  &__contact {
    display: flex;
    align-items: center;
    color: $default;
    margin-right: 3rem;
    display: flex;
    gap: 0.3rem;
  }

  &__right-btn {
    border: none;
    background-color: transparent;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
    gap: 0.3rem;gap: 0.3rem;

    &:hover {
      color: $hover;
      transition: all .3s;

    }
  }





  &__bottom {
    padding-top: 2rem;
  }

  &__menu-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  &__list {}

  &__list-link {
    color: $default;
    text-align: center;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;


  }

  &__list-link--bg {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  &__list--bg {
    background-color: $hover;
    border-radius: 1.4rem;
    padding: 1.2rem 2rem;

  }




  &__list-hover {
    display: flex;
    justify-content: space-between;
    padding: 2rem 11.2rem 5rem;
    gap: 2rem;
    position: absolute;
    top: 12rem;
    right: 21.5rem;
    display: none;
    background-color: #fff;
  }


  &__sub-inner {
    margin-right: 3.5rem;
    width: 39.3rem;
  }

  &__sub-list {
    padding-bottom: 2rem;
    width: 39.3rem;

  }

  &__sub-list-link {
    font-size: 1.4rem;
    line-height: 2rem;
    color: $default;
  }



}


.modal {
  position: fixed;
  top: 9rem;
  left: 50rem;
  bottom: 0;
  z-index: 5;
  background: rgba(62, 63, 88, 0.15);
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 43.2rem;
  height: 45.2rem;
  background-color: #fff;
  display: none;
  padding: 3rem;
  border-radius: 2rem;

  &-wrapper {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: rgba(62, 63, 88, 0.15);
    display: none;
    z-index: 1;


  }



  &__window {
    display: block;
    transition: transform 0.15s ease 0s, opacity 0.15s ease 0s;
    transform: scale(1);
    background-color: #fff;
  }

  &__window-top {
    display: block;

  }

  &__window-title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
    margin-bottom: 1rem;
  }

  &__window-subtitle {
    margin-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;

  }

  &__window-form {
    display: block;
    flex-wrap: wrap;

  }

  &__window-select {
    width: 37.2rem;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #3E3F58;
    border-radius: 1.4rem;
    margin-bottom: 1rem;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__window-firts,
  &__window-second {
    width: 37.2rem;
    padding: 0.8rem 1.2rem;
    border: 0.1rem solid #3E3F58;
    border-radius: 1.4rem;
    margin-bottom: 1rem;
    background-color: #fff;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #dbdbdb;
  }

  &__window-second {
    min-height: 10rem;

  }

  &__window-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    padding-top: 1rem;
    padding-bottom: 1rem;

    a {
      color: $default;
    }
  }

  &__window-btn {
    text-align: center;
    padding: 1.2rem 2rem;
    gap: 0.4rem;
    background: #452C60;
    border-radius: 2rem;
    width: 37.2rem;
    color: #fff;

    &:hover {
      background-color: $hover;
      transition: all .3s;
    }
  }

}

.breadcrumbs {
  padding-top: 5rem;

  &__list {
    display: flex;
    align-items: center;
  }

  &__item {
    margin-left: 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    color: $default;
    @extend %circe-700;

    &:last-child {
      color: #dbdbdb;
    }
  }

  &__link {
    color: inherit;
  }
}



.footer {
  background-color: $default;
  padding: 75px 112px;
  gap: 20px;

  &__section {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    display: block;
    padding-right: 20px;
    border-right: 1px solid #fff;
    min-width: 530px;
  }

  &__left-item {
    padding-bottom: 22px;
    max-width: 505px;
  }

  &__left-item-link {
    font-size: 14px;
    line-height: 20px;
    color: #fff;
  }

  &__right {
    display: block;
    color: #fff;
    padding: 10px;
    padding-left: 20px;
  }

  &__right-subtitle {
    padding-bottom: 22px;
  }


}








.title {
  padding-top: 12rem;
  margin-bottom: 15rem;
}

.horib {
  text-align: center;

  &__title {
    font-size: 6.8rem;
    line-height: 7.1rem;
    @extend %manrope-800;
    margin-bottom: 3rem;
    text-align: center;
  }

  &__subtitle {
    font-size: 1.8rem;
    line-height: 140%;
    text-align: center;
  }
}

.business {
  margin-top: 10rem;

  &__top {
    margin-bottom: 5rem;
  }

  &__items-all {
    display: block;
    align-items: center;

  }


  &__img {
    transition: all 0.3s linear;
  }

  &__img-one,
  &__img-two.transform {
    transform: rotate(90deg);
  }

  &__filter {
    display: flex;
    padding-bottom: 3rem;
  }

  &__filter-btn {
    color: $default;
    font-size: 1.4rem;
    line-height: 2rem;
    padding: 1.2rem 2rem;
    cursor: pointer;
    border: none;
    background-color: transparent;

    &:hover {
      background-color: $hover;
      color: #fff;
      border-radius: 1.4rem;
      transition: all .3s;
    }
  }

  &__items-list {
    display: flex;
    align-items: center;
    align-content: center;
    margin-bottom: 3rem;
  }

  &__items-top,
  &__items-more {
    display: flex;
    flex-wrap: wrap;
    grid-column: 3;
    gap: 0.7rem;
    flex-grow: 0;

  }

  &__items-more {
    display: none;
  }

  &__item {
    display: block;
    width: 39rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    padding: 3rem;
    background-color: #fff;

  }


  &__item-text {
    font-size: 2.2rem;
    line-height: 2.6rem;
    @extend %circe-700;
    color: $default;

    &:hover {
      color: $hover;
      transition: all .3s;
    }

  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    padding-top: 3rem;
  }

  &__personal,
  &__finance {
    display: flex;

    .business__item {
      margin-right: 0.7rem;
    }
  }

  .mixitup-control-active {
    background-color: $hover;
    color: #fff;
    border-radius: 1.4rem;
    transition: all .3s;
  }

}


.person {
  margin-top: 15rem;

  &__top {
    margin-bottom: 4rem;
  }

  &__items {
    display: flex;
    justify-content: space-between;
    align-items: center;

  }

  &__item {
    max-width: 29rem;
    height: 27rem;
    padding: 3rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    background-color: #fff;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 2rem;
  }

  &__item-title {
    font-size: 2.2rem;
    line-height: 2.6rem;
    @extend %circe-700;
    padding-bottom: 1rem;
  }

  &__subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 22.9rem;
  }
}

.calculate {
  margin-top: 15rem;

  &__inner {
    margin-top: 4rem;
    margin-bottom: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;


  }






  &__item-btn {
    padding: 1.2rem 2rem;
    gap: 0.4rem;
    border: none;
    background-color: transparent;
    margin-left: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;

    &:hover {
      color: #fff;
      transition: all .3s;
      background-color: $hover;
    }

    border-radius: 1.4rem;
    color: $default;
  }

  &__item-btn.active {
    background-color: $hover;
  }

  &__item-btn--business {
    margin-right: 2rem;
    border: 0.1rem solid $default;
    position: relative;
    background-color: #fff;

    &::after {
      position: absolute;
      content: "";
      border-right: 0.1rem solid $default;
      height: 4rem;
      right: -2.2rem;
      top: 0;
    }
  }

  &__form-inner {
    background-color: #fff;
    padding: 3rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    border-radius: 2rem;
    display: none;
  }

  // &__form-btn--life,
  // &__form-btn--house,
  // &__form-btn--transport,
  &__form-btn--art--active {
    background-color: $hover
  }


  &__form-title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;

  }

  &__form-center {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__form-text {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  &__form-list {
    width: 26.9rem;
    border-radius: 1.4rem;
    padding: 0.8rem 1.2rem;
    background-color: #fff;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__form-place {
    width: 20.2rem;
    border-radius: 1.4rem;
    padding: 0.8rem 1.2rem;
    color: #dbdbdb;
    background-color: #fff;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__form-data__in,
  &__form-data__out,
  &__form-age {
    width: 20.2rem;
    border-radius: 1.4rem;
    padding: 0.8rem 1.2rem;
    color: #dbdbdb;
    background-color: #fff;
    margin-right: 2rem;
    border: .1rem solid $default;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__form-bottom {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    line-height: 2rem;
    padding-bottom: 2rem;
    border-bottom: 0.1rem solid $default;
  }

  &__form-add {
    display: flex;
    padding: 0.8rem 1.6rem;
    gap: 0.4rem;
    background-color: #fff;
    border-radius: 1.4rem;
    border: 0.1rem solid $default;
    margin-right: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &__form-radio {
    margin-left: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;

  }

  &__form-btn {
    margin-top: 2rem;
    padding: 1.2rem 2rem;
    gap: 0.4rem;
    border-radius: 1.4rem;
    background-color: #452C60;
    color: #fff;
    cursor: pointer;
  }


}

.about {
  padding-top: 14rem;

  &__page {
    display: flex;
    align-items: center;
  }

  &__left-top {
    display: flex;
    align-items: center;
    text-align: center;
    padding-bottom: 4rem;
  }

  &__left-text {
    padding: 0.8rem 1.6rem;
    gap: 0.4rem;
    border-radius: 1.4rem;
    border: 0.1rem solid $hover;
    font-size: 1.2rem;
    line-height: 1.6rem;
    color: $hover;
    margin-left: 1rem;

  }

  &__left-center {
    width: 59.8rem;
    margin-right: 12.3rem;
  }

  &__left-txt {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
  }

  &__left-bottom {
    margin-top: 4rem;
  }

  &__left-link {
    padding: 1.4rem 2rem;
    gap: 0.4rem;
    background-color: #452C60;
    border-radius: 1.4rem;
    color: #fff;
    margin-top: 1.5rem;
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    color: #fff;

    &:hover {
      background-color: $hover;
      transition: all .3s;
      color: #fff;

    }

  }

  &__right-files {
    display: flex;
    grid-column: 2;
    flex-wrap: wrap;
    padding-top: 14rem;

  }

  &__right-file {
    width: 23.5rem;
    padding: 2rem;
  }

  &__right-file__name {
    @extend %circe-700;
    padding: 1rem 0 1rem 0;
  }

  &__right-file-info {
    display: flex;
    align-items: center;

    p {
      color: #dbdbdb;
    }

    img {
      margin: 0 0.8rem 0 0.8rem;
    }

  }



}

.partners {
  padding-top: 14rem;

  &__top {
    margin-bottom: 4rem;
  }

  &__group {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 3rem;

  }
}

.clients {
  padding-top: 14rem;
  padding-bottom: 7.2rem;

  &__top {
    padding-bottom: 4rem;
  }

  &__center {
    display: flex;
    align-items: center;

    img {
      max-width: none;
    }
  }

  &__feedback {
    display: flex;
  }


  &__inner {
    padding: 2rem;
    width: 39rem;
    border-radius: 2rem;
    box-shadow: 0rem 0.6rem 1.2rem -0.6rem rgba(248, 248, 252, 0.12), 0rem 0.8rem 2.4rem -0.4rem rgba(69, 44, 96, 0.08);
    background-color: #fff;
    margin-right: 2rem;

  }

  &__inner-title {
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;

  }

  &__inner-text {
    padding-top: 1rem;
    line-height: 2rem;
    font-size: 1.4rem;
  }

  &__inner--more {
    z-index: 1;

  }

  &__inner--more:hover {
    content: '';
    background-image: url('../images/main/licens.jpg');
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    z-index: 3;

    h4,
    p {
      filter: blur(0.2rem);
    }
  }

  transition: all .3s;




}

.popular {
  padding: 15rem 11.2rem 7.5rem;
  gap: 4rem;
  background-color: #F8F8FC;
  color: #452C60;

  &__top {
    padding-bottom: 4rem;
  }

  &__links {
    display: flex;
    justify-content: space-between;
  }

  &__links-left,
  &__links-right {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: 1.4rem;
    line-height: 2rem;
    color: #452C60;
    padding-top: 2rem;
  }

  &__links-title {
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-size: 2.2rem;
    line-height: 2.6rem;
    @extend %circe-700;
    margin-bottom: 3rem;
  }

  &__links-contact {
    padding: 3rem;
    background-color: #452C60;
    border-radius: 2rem;
    color: #fff;
    width: 41.2rem;
    height: 37.2rem;

  }

  &__contact {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__contact-number,
  &__contact-post,
  &__contact-adress,
  &__contact-btn {
    margin-bottom: 3.2rem;
  }

  &__contact-btn {
    padding: 1.2rem 2rem;
    gap: 0.4px;
    color: #fff;
    background-color: $hover;
    border-radius: 1.4rem;
    font-size: 1.4rem;
    line-height: 2rem;
    @extend %circe-700;
    min-width: 21.2rem;
  }

  &__contact-num,
  &__contact-email,
  &__contact-city {
    font-size: 2.2rem;
    line-height: 2.6rem;
    @extend %circe-700;
    padding-bottom: 1rem;

  }

  &__contact-adress {
    width: 28.8rem
  }

  p {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;

  }
}

.insurance {
  padding-top: 150px;

  &-top {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center
  }

  &-top__title {
    @extend %manrope-800;
    font-size: 68px;
    line-height: 71px;
    padding-bottom: 30px;
  }

  &-top__text {
    font-size: 18px;
    line-height: 25px;
    width: 825px;
    margin-left: 200px;
    padding-bottom: 30px;
  }

  &-top__btn {
    border-radius: 14px;
    border: none;
    padding: 12px 20px;
    gap: 4px;
    background-color: $hover;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 50px;
    cursor: pointer;
  }



}

.business__page {
  padding-top: 12rem;

  &-top {
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
  }
  &-info{
    padding-bottom: 3rem;
  }


  &-left {
    display: block;
    width: 69.5rem;
    margin-right: 10rem;
    padding-bottom: 10rem;
  }
  &-left__choise{
    @extend %circe-700;
    line-height: 2rem;
    font-size: 1.4rem
  }

  &-title {
    width: 78rem;
    @extend %manrope-800;
    font-size: 6.8rem;
    line-height: 7.1rem;
    padding-bottom: 2rem;
    color: $default;
    padding-top: 2rem;
  }

  &-subtitle {
    font-size: 1.4rem;
    line-height: 2rem;
    width: 63rem;
    padding-bottom: 2rem;
  }

  &-btn {
    @extend %btn;
    cursor: pointer;
  }



  &-right {
    padding-bottom: 9rem;
  }

  &__title {
    width: 70rem;
    padding-bottom: 4rem;
    padding-top: 4rem;
  }

  &-side {
    display: flex;
  }

  &-left {
    width: 70rem;
  }

  &-left__text {
    padding-bottom: 2rem;
    font-size: 1.4rem;
    line-height: 2rem;
  }

  &-left__choise {
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
  }

  &-left__select {
    display: flex;
    align-items: top center;
    font-size: 1.4rem;
    line-height: 2rem;
    width: 72rem;
    padding-bottom: 1rem;

    img {
      margin-right: 1rem;
    }
  }


  &-about__text {
    font-size: 1.4rem;
    line-height: 2rem;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }


  &-right {
    margin-left: 10rem;
  }


  &-right-text {
    @extend %circe-700;
    font-size: 1.4rem;
    line-height: 2rem;
    margin-bottom: 2rem;
    width: 39rem;

  }
    &-pluses-title{
      padding-top: 12rem;
      padding-bottom: 4rem;
    }

  &-right__btn {
    @extend %btn;
  }

  &-pluses__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
    width: 39.2rem;
  }

  &-pluses__top {
    display: flex;
    align-items: center;
  }

  &-pluses__top-title {
    margin-left: 1rem;
    width: 39rem;
    @extend %circe-700;
    font-size: 2.2rem;
    line-height: 2.6rem;
  }
 
  &-pluses__text {
    padding: 1rem 3rem;
  }
}




.faq {
  padding-top: 150px;
  margin-bottom: 150px;

  &-title {
    width: 750px;
    margin-bottom: 20px;
  }

  &__question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    gap: 10px;
    box-shadow: 0px 6px 12px -6px rgba(248, 248, 252, 0.12), 0px 8px 24px -4px rgba(69, 44, 96, 0.08);
    border-radius: 20px;
    width: 804px;
    background-color: #fff;
    border: none;
    margin-bottom: 20px;
  }

  &__img {
    transition: all 0.3s linear;
  }

  &__img.transform {
    transform: rotate(180deg);
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    padding: 30px;
    display: none;
    width: 804px;

    p {
      margin-bottom: 20px;
    }

  }



}

.traditional {}



.pluses {
  background-color: #fff;
  padding-bottom: 150px;



}

.about-us {
  &__top {
    text-align: center;
  }

  &__title {
    padding-bottom: 40px;
    padding-top: 40px;
    @extend %manrope-800;
    font-size: 68px;
    line-height: 71px;
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    width: 830px;
    margin-left: 215px;
    text-align: center;
    margin-bottom: 50px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__link {
    padding: 30px;
    box-shadow: 0px 6px 12px -6px rgba(248, 248, 252, 0.12), 0px 8px 24px -4px rgba(69, 44, 96, 0.08);
    border-radius: 20px;
    background-color: #fff;
    width: 290px;
    height: 220px;

  }

  &__link-title {
    @extend %circe-700;
    font-size: 14px;
    line-height: 20px;
    color: $default;
    margin-bottom: 10px;

  }

  &__link-text {
    font-size: 14px;
    line-height: 20px;
    color: $default;

  }

}

.history {
  padding-top: 150px;

  &__title {
    margin-bottom: 40px;
  }

  &-side {
    display: flex;
  }

  &__left {
    width: 600px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    padding-top: 20px;
  }

  &__right {
    margin-left: 123px;
  }

  &__right-text {
    @extend %circe-700;
    font-size: 14px;
    line-height: 20px;
    width: 500px;
    margin-bottom: 20px;
    padding-top: 20px;
  }

  &__btn {
    @extend %btn
  }
}

.team {
  padding-top: 150px;

  &__title {
    padding-bottom: 40px;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__name {
    @extend %circe-700;
    font-size: 14px;
    line-height: 16px;
    padding-top: 10px;
    width: 186px;
  }

  &__job {
    font-size: 14px;
    line-height: 16pxpx;
    padding-top: 10px;
    width: 186px;
  }
}

.licenses {
  padding-top: 150px;

  &__info {
    display: flex;
    justify-content: space-between;
  }

  &__inner {
    display: flex;
    width: 495px;

  }

}